/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


.site-header {
  border-top: 6px solid #4a788c;      
}

.site-footer {
  padding: 5px 0;
}

.footer-heading {
  margin-bottom: 10px;
}

a,
a:hover,
a:focus,
a:active{
    outline: 0;
    /*text-decoration: none;*/
    /*color: #0077C8;*/
    color: #ca7136 !important;
    outline: 0 !important;
    text-decoration: none !important; 
}


a:focus, a:hover{
    color: #97d03b !important;
    text-decoration: none !important; 
    outline: 0 !important;
}

a:visited {
  color: blue;
  /*color: #0288d1;*/
}

.katex {
    color: #125d7a !important;
}


.width-5 * {
    width: 5%;
}

.width-10 * {
    width: 10%;
}

.width-15 * {
    width: 15%;
}

.width-20 * {
    width: 20%;
}

.width-25 * {
    width: 25%;
}

.width-30 * {
    width: 30%;
}

.width-35 * {
    width: 35%;
}

.width-40 * {
    width: 40%;
}

.width-45 * {
    width: 45%;
}

.width-50 * {
    width: 50%;
}

.width-55 * {
    width: 55%;
}

.width-60 * {
    width: 60%;
}

.width-65 * {
    width: 65%;
}

.width-70 * {
    width: 70%;
}

.width-75 * {
    width: 75%;
}

.width-80 * {
    width: 80%;
}

.width-85 * {
    width: 85%;
}

.width-90 * {
    width: 90%;
}

.width-95 * {
    width: 95%;
}

.width-100 * {
    width: 100%;
}

.width-105 * {
    width: 105%;
}

.width-110 * {
    width: 110%;
}

.width-115 * {
    width: 115%;
}

.width-120 * {
    width: 120%;
}

.width-125 * {
    width: 125%;
}

.width-130 * {
    width: 130%;
}

.width-135 * {
    width: 135%;
}

.width-140 * {
    width: 140%;
}

.width-145 * {
    width: 145%;
}

.width-150 * {
    width: 150%;
}

.width-155 * {
    width: 155%;
}

.width-160 * {
    width: 160%;
}

.width-165 * {
    width: 165%;
}

.width-170 * {
    width: 170%;
}

.width-175 * {
    width: 175%;
}

.width-180 * {
    width: 180%;
}

.width-185 * {
    width: 185%;
}

.width-190 * {
    width: 190%;
}

.width-195 * {
    width: 195%;
}

.width-200 * {
    width: 200%;
}


.height-10 * {
    height: 10%;
}

.height-20 * {
    height: 20%;
}

.height-30 * {
    height: 30%;
}

.height-40 * {
    height: 40%;
}

.height-50 * {
    height: 50%;
}

.height-60 * {
    height: 60%;
}

.height-70 * {
    height: 70%;
}

.height-80 * {
    height: 80%;
}

.height-90 * {
    height: 90%;
}

.height-100 * {
    height: 100%;
}
