/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


.site-header {
  border-top: 5px solid #4a788c;      
}

.site-footer {
  padding: 5px 0;
}

.footer-heading {
  margin-bottom: 5px;
}

a,
a:hover,
a:focus,
a:active{
    outline: 0;
    /*text-decoration: none;*/
    color: #0077C8;
    color:; #ca7136
}


a:focus, a:hover{
    color: #97d03b !important;
    text-decoration: none; 
}
