/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

/*// If you want to turn off dark background for syntax highlighting, comment or delete the below line.*/
@import "minima/fastpages-dracula-highlight"; 


/*@import "minima/bootstrap-grid";   */
@import "minima/bootstrap-grid.min";   
/*@import "minima/bootstrap.min";   */


/**
 * Wrapper
 */
.wrapper {
  max-width: calc(920px - 30px);
  /*min-width: 700px;*/
  margin-right: auto;
  margin-left: auto;
  /*margin: 0 auto;*/
  /*width: 890px;*/
  /*min-width: 400px;*/
  /*width: 890px;*/
  padding-right: 30px / 2;
  padding-left: 30px / 2;
  @extend %clearfix;
  /*margin-top: 30px;*/  /*Add a top margin to avoid content overlay */


  @media screen and (min-width: 920px) {
    max-width: calc(920px - (30px * 2));
    padding-right: 30px;
    padding-left: 30px;
 }

}

/*
$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);
*/

/*fix for scrollbar repositioning*/
html {
  overflow-y: scroll;
}

html, body, input, textarea, select, button {   
  color: #ebedeb !important;
  background-color: #121212 !important;
}


.site-header {
  border-top: 6px solid #4a788c;      
  border-bottom: 1px solid #4d4b59;      
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  /*overflow: hidden;*/
/*  background-color: #fdfdfd;*/
  background-color: #292b29;
  z-index: 100 ;
}

.site-title {
/*  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
*/
  font-size: 20pt;
}


.site-nav {
  font-size: 12pt;
  /*position: fixed;*/
  /*position: sticky;*/
}


.site-footer {
  padding: 5px 0;
}

.footer-heading {
  margin-bottom: 10px;
}

a,
a:hover,
a:focus,
a:active{
    outline: 0;
    /*text-decoration: none;*/
    /*color: #0077C8;*/
    /*color: #ca7136 !important;*/
    color: #97d03b !important;
    outline: 0 !important;
    text-decoration: none !important; 
}


a:focus, a:hover{
    /*color: #97d03b !important;*/
    /*color: #ca7136 !important;*/
    /*color: #4a788c !important;*/
    color: #bb9f06 !important;
    text-decoration: none !important; 
    outline: 0 !important;
}


.pubitem {
  margin: 2em 0;
  /*line-height: 1em;*/
  font-size: 14px;
  line-height: 1.5;
  /*valign: top;*/
  margin-bottom: 1.5em;
}



.pubtitle {
  margin-bottom: .5em;
  line-height: 1.2em;
  /*font-weight: bold;*/
}

.pubauthors, .pubinfo {
  font-size: 75%;
  margin-bottom: .75em;
}

.pubteaser {
  /*clear: both;*/
  clear: left;
  /*margin-bottom: 1em;*/
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}


.pubteaser img {
  max-width: 196px;
  /*max-height: 196px;*/
  /*min-height: 64px;*/
  /*min-height: 128px;*/
  /*min-height: 140px;*/
  /*width: 128px;*/
  /*border: 1px solid black;*/
  /*margin-bottom: 1.2em;*/
  width: auto;
  height: auto;
}




.publinks {
  font-size: 75%;
}

.publication-authors {
  margin: 0.25rem 0;
}

.publication-info {
  margin: 0.5rem 0;
}

.publication-teaser {
  margin: 2em;
  /*margin: auto;*/
  text-align: center;
}

.publication-teaser img {
  border: none;
  max-width: 750px;
  max-height: 500px;
  width: auto;
  height: auto;

}


.publication {
  width: 900px;
  min-height: 20px;
  margin: 0 auto; /* top and bottom, right and left */
  /*border: 1px solid #000;*/
  border: none;
  text-align: left;
  padding: 1em 1em 1em 1em; /* top, right, bottom, left */
/*  color: #4d4b59;*/
/*  color: #c7c9c7;*/
  color: #a3a3a3;
/*  background: #FFFFFF;*/
}


/*bootstrap compatibility*/
.media-object{
  /*max-width: 210px;*/
  max-width: 210px;
  width: auto;
  height: auto;
}


.paper-teaser{
  /*max-width: 210px;*/
  max-width: 240px;
  width: auto;
  height: auto;
}


.pubitembs {
  font-size: 14px;
  line-height: 1.5;
  
}

.pubteaserbs{
  margin: 2em 0;
}



/*a:visited {
  color: #0288d1;
  color: blue;
}*/



/*----------------*/
/*text settings*/
/*----------------*/


.katex {
    color: #125d7a !important;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bigg { font-size: 2em; }
.big { font-size: 1.5em; }
.small { font-size: 0.2em; }

.tiny { font-size: 12pt; }


.red { color: #ee1111; }
.grey { color: #bbbbbb; }
.green {color: #258212;}
.purple {color: #800080}
.gray{color: #999999; }
.Q {color: #009933; 


.highlight{ background-color: #FFFF00; }


.inactive {
    color: lightgray;
}



.solid {
  border-style: solid;
}

.dashed {
  border-style: dashed;
}

.caption {
  text-align: center;
  font-size: 13pt;
  font-style: italic;
  color: light-grey;
  display: block;
  padding-bottom: 1.4em;
}

