---
layout: default
---

<style type="text/css">
h1 {
    margin-top:0.5em !important;
    margin-bottom:0.25em !important;
}

h3 {
    /*line-height: normal;*/
    line-height: 100%;
    /*margin-top:0.2em !important;*/
    margin-bottom:0.2em !important;
}



p.b {
  font-size: 95%;
  /*font-style: italic;*/
  color: #808080;
  /*margin-top: 0.2em;
  margin-bottom: 0.2em;*/
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: 40%;*/
  /*line-height: 98%;*/
  line-height: normal;
}

p.c {
  font-size: 95%;
  font-style: italic;
  color: #808080;
  /*margin-top: 0.2em;
  margin-bottom: 0.2em;*/
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: 40%;*/
  /*line-height: 100%;*/
  line-height: normal;
}

</style>

{{ content }}
